NODE_ENV=development

DB_USERNAME=sensei
DB_PASSWORD=sudo123
DB_NAME=mycoverai
DB_PORT=5432
DB_HOST=127.0.0.1
DB_DIALECT=postgres
DB_URL="postgresql://sensei:sudo123@127.0.0.1:5432/mycoverai?schema=public"

REDIS_HOST=localhost
REDIS_PORT=6379

MAIL_HOST="smtp.mailtrap.io"
MAIL_PORT=587
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM=support@mycoverai.com